.hidden {
  display: none;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#chatWindow {
  position: absolute;
  width: 25%;
  height: 50%;
  bottom: 0;
  right: 0;
  border: thick black solid;
  overflow-y: scroll;
}
